---
###########################
###########################
## Linter GitHub Actions ##
###########################
###########################
name: Lint Code Base

#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

#############################
# Start the job on all push #
#############################
on:
  push:
  pull_request:
    branches: [main, develop]
  merge_group:

permissions:
  contents: read

###############
# Set the Job #
###############
jobs:
  linter:
    timeout-minutes: 20
    # Name the Job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-24.04

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v4.2.2
        with:
          # Full git history is needed to get a proper list of changed files
          fetch-depth: 0

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: super-linter/super-linter@v7.3.0
        env:
          VALIDATE_ALL_CODEBASE: false
          # JAVASCRIPT_DEFAULT_STYLE: prettier
          VALIDATE_XML: false
          # Evaluate JS with eslint instead of standard
          VALIDATE_JAVASCRIPT_STANDARD: false
          VALIDATE_TYPESCRIPT_STANDARD: false
          TYPESCRIPT_ES_CONFIG_FILE: .eslintrc.js
          VALIDATE_CHECKOV: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
