---
name: Lint Code Base

on:
  push:
  pull_request:
    branches: [main, develop]
  merge_group:

permissions:
  contents: read

jobs:
  linter:
    timeout-minutes: 20
    name: Lint Code Base
    runs-on: ubuntu-latest
    container:
      # yamllint disable-line
      image: ghcr.io/super-linter/super-linter@sha256:5f36f6ff08fa41b4f4baf0f92dfb00081c1825a098908d344ddc8024084fde33 # v8.5.0
    env:
      RUN_LOCAL: true
      VALIDATE_ALL_CODEBASE: false
      VALIDATE_XML: false
      VALIDATE_CHECKOV: false
      VALIDATE_TRIVY: false
      VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
      VALIDATE_BIOME_FORMAT: false
      VALIDATE_BIOME_LINT: false
      DEFAULT_BRANCH: origin/main
      FILTER_REGEX_EXCLUDE: .*models/.*|.*nodesets/.*
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Lint Code Base
        run: /action/lib/linter.sh
